<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :userid %>
    <%= form.text_field :userid, class: "form-control", placeholder: "steve_000001" %>
  </div>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "steve" %>
  </div>
  <div class="mb-3">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "form-control", placeholder: "smith" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>


  <p>
      <b>Role</b><br />
      <%= form.radio_button :role, "user" %> user<br />
      <%= form.radio_button :role, "tutor" %> tutor<br />
      <%= form.radio_button :role, "admin" %> admin<br />
  </p>



  <div class="mb-3">
    <%= form.submit "Sign Up" %>
  </div>

<% end %>
