<div id="<%= dom_id user %>">
  <p>
    <strong>email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>userid:</strong>
    <%= user.userid %>
  </p>


  <p>
    <strong>name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>role:</strong>
    <%= user.role %>
  </p>
</div>
