<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
	<% if @user.errors.any? %>
		<div class="alert alert-danger">
			<% @user.errors.full_messages.each do |message| %>
				<div><%= message %></div>
			<% end %>
		</div>
	<% end %>

	<div class="mb-3">
		<%= form.label :userid %>
		<%= form.text_field :userid, class: "form-control", placeholder: "john_000001" %>
	</div>
	<div class="mb-3">
		<%= form.label :email %>
		<%= form.text_field :email, class: "form-control", placeholder: "john@example.com" %>
	</div>
	<div class="mb-3">
		<%= form.label :name %>
		<%= form.text_field :name, class: "form-control", placeholder: "John" %>
	</div>
	<div class="mb-3">
		<%= form.label :lastname %>
		<%= form.text_field :lastname, class: "form-control", placeholder: "Snow" %>
	</div>
	<div class="mb-3">
		<%= form.label :password %>
		<%= form.password_field :password, class: "form-control", placeholder: "password" %>
	</div>
	<div class="mb-3">
		<%= form.label :password_confirmation %>
		<%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
	</div>

	<% if Current.user %>
		<% if Current.user.role == "admin" %>
			<p>
    			<b>Role</b><br />
    			<%= form.radio_button :role, "user" %> user<br />
    			<%= form.radio_button :role, "tutor" %> tutor<br />
    			<%= form.radio_button :role, "admin" %> admin<br />
			</p>
			<% end %>
	<% end %>

	<div class="mb-3">
		<%= form.submit "Sign Up" %>
	</div>

<% end %>