<div id="<%= dom_id professor %>">
  <p>
    <strong>Prof:</strong>
    <%= professor.prof_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professor.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= professor.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= professor.lastname %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= professor.faculty %>
  </p>

</div>
