<div id="<%= dom_id appointment %>">
  <p>
    <strong>Start time:</strong>
    <%= appointment.start_time %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%@user = User.where(userid: appointment.tutor_id).take%>
    <%= "#{@user.name} #{@user.lastname}" %>
  </p>


  <p>
    <strong>Faculty:</strong>
    <%= appointment.faculty %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= appointment.professor_id %>
  </p>

  <p>
    <strong>Number students:</strong>
    <%= appointment.number_students %>
  </p>

</div>
