<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Set some values that should be filled automaticly-->

  <% if Current.user.role != "admin" %>
    <%= form.hidden_field :tutor_id, value:Current.user.userid %>
  <% else %>
    <%= form.collection_select(:tutor_id, User.all, :userid, :name) %>
  <%end%>

  <label for="basic-url" class="form-label">Start Time</label>
  <div class="input-group mb-3">
    <%= form.datetime_field :start_time %>
  </div>

  <div class="input-group mb-3">
    <label for="basic-url" class="form-label">Faculty</label>
 
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <%= form.collection_select(:professor_id, Professor.all, :prof_id, :name) %>




  <% if Current.user.role == "REMOVED FOR THE MOMENT" %>
    <label for="basic-url" class="form-label">Student1</label>
    <div class="input-group mb-3">
      <%= form.text_field :student1 %>
    </div>
    <label for="basic-url" class="form-label">Student2</label>
    <div class="input-group mb-3">
      <%= form.text_field :student2 %>
    </div>
    <label for="basic-url" class="form-label">Student3</label>
    <div class="input-group mb-3">
      <%= form.text_field :student3 %>
    </div>
    <label for="basic-url" class="form-label">Student4</label>
    <div class="input-group mb-3">
      <%= form.text_field :student4 %>
    </div>
    <label for="basic-url" class="form-label">Student5</label>
    <div class="input-group mb-3">
      <%= form.text_field :student5 %>
    </div>
    <label for="basic-url" class="form-label">Number Students</label>
    <div class="input-group mb-3">
      <%= form.number_field :number_students %>
    </div>
  <%end%>

  <div class="input-group mb-3">
    <%= form.submit %>
  </div>
<% end %>
