<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<% if Current.user.role == "user" %>
  <a href="list" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">List of Appointments</a>
  <a href="appointments" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Register</a>
  <a href="historial" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Historial of Class</a>
<%end%>

<% if Current.user.role == "tutor" %>
  <a href="appointments" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">List of Appointments</a>
  <a href="historial" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Historial of Class</a>
<%end%>

<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Date</th>
      <th>Topics</th>
      <th>Tutor</th>
      <th>Professor</th>
      <th>Students</th>

    </tr>
  </thead>
  

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.faculty %>
        </td>
        <td><%= appointment.start_time %>
        </td>
        <td><%= appointment.topic %>
        </td>
        <%@user = User.where(userid: appointment.tutor_id).take%>
        <td><%= @user.name_with_lastname %> 
        </td>
        <%@professor = Professor.where(prof_id: appointment.professor_id).take%>
        <td><%= @professor.name_with_lastname  %>
        </td>
        <td><%= appointment.number_students %> /5
        </td>



        <td><%= link_to 'Show', appointment %>
        </td>
        <% if Current.user.role == "user" %>
          <td><%= link_to 'join', join_path(appointment.id) %>
          </td>
        <% end %>


        <% if Current.user.role != "user" %>
          <td><%= link_to 'Edit', edit_path(appointment.id) %>
          </td>
          <td><%= link_to 'Delete', { controller: "appointments", action: "destroy", id: appointment.id }, method: :delete, data: { confirm: 'Are you sure?'} %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if Current.user.role != "user" %>
  <%= button_to "New appointment", new_appointment_path, :method => "get" %>
<% end %>
